// movie__wrap
.movie__inner {
    height: 800px;
    h3 {
        font-size: 50px;
        margin-bottom: 40px;
    }
    p {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 20px;
    }
    a {
        border-radius: 50px;
        margin-bottom: 60px;
    }
    .movie__item {
        @include flex-between;
        margin-top: 50px;
        position: absolute;
        .movie {
            width: 300px;
            margin-right: 20px;
            img {
                width: 100%;
            }
            span {
                display: block;
                margin: 4px 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}

// movie__page
.movie__slider {
    margin-bottom: 100px;
}
.movie__search {
    text-align: center;
    margin-bottom: 50px;
    input {
        border: 1px solid #E8ECF2;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 50px;
        min-width: 300px;
        margin-right: 10px;
    }
    button {
        @include button(#FF3344, #fff);
        border-radius: 50px;
    }
}
.movie__tag {
    div {
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 50px;
        button {
            border: 1px solid #FF3344;
            padding: 10px 20px;
            margin: 0 10px;
            color: #FF3344;
            background-color: #fff;
            &:hover {
                background-color: #FF3344;
                color: #fff;
            }
        }
        button.active {
            background-color: #FF3344; /* 선택된 태그의 배경색 */
            color: #ffffff; /* 선택된 태그의 텍스트 색상 */
        }
    }
}
.movie__cont {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 100px;
        li {
            width: 24%;
            margin-bottom: 4%;
            position: relative;
            &:hover .title{
                text-decoration: underline;
                text-underline-position: under;
            }
            span {
                display: block;
                margin: 4px 0;
            }
            .title {
                font-size: 20px;
                display: block;
                padding: 3px 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .star {
                position: absolute;
                left: 10px;
                top: 10px;
                width: 50px;
                height: 50px;
                background-image: url(../../images/movie/star.png);
                background-repeat: no-repeat;
                background-position: center;
                text-align: center;
                line-height: 54px;
                border-radius: 50%;
                font-size: 12px;
            }
        }
    }
}

.swiper {
    padding: 20px 0 50px;
}